<h1>All Studios</h1>

<% @studios.each do |studio| %>
  <h4><%= studio.name %></h4>
  <p>Location: <%= studio.location %></p>
  <% studio.movies.each do |movie| %>
   <li>Movie: <%= movie.title %></li>
<% end %>
<% end %>
